* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    
    background-image: url(assets/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
}

body * {
    font-family: 'Inter', sans-serif;
    color: rgb(17, 17, 17);
}

#container{

    width: 360px;
    margin: 22px auto 0px;
    padding: 14px 14px 60px 14px;
}

#profile{
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 200px;

}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
    color: rgb(51, 216, 59)
}


/* links */

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {

    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: rgba(255,255,255, 0.1);

}

ul li :hover{
    border: 1px solid rgb(51, 216, 59);
    color: rgb(51, 216, 59);
    box-shadow: 0px 0px 35px rgb(51, 216, 59);
    color: rgb(51, 216, 59);
}